:root {
  --filenameFont: rgb(251, 251, 254);
  --filenameBackground: rgb(28, 27, 34);
  --filenameFocus: rgb(53, 132, 228);
  --selectAll: rgb(0, 221, 255);
  --selectAllHover: rgb(128, 235, 255);
  --selectAllActive: rgb(170, 242, 255);
  --selectAllFont: rgb(21, 20, 26);
}

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: transparent;
  color-scheme: light;

  &:focus {
    outline: none;
  }
}

button {
  border: none;
  padding-block: 0px;
  border-radius: calc(4px / var(--devicePixelRatio));
  outline-offset: calc(2px / var(--devicePixelRatio));
}

#root {
  position: fixed;
  opacity: 0;

  display: flex;
  flex-flow: column;
  width: calc(300px / var(--devicePixelRatio));
  height: calc(250px / var(--devicePixelRatio));
  padding: calc(8px / var(--devicePixelRatio));

  background-color: rgb(66, 65, 77);
  border: calc(1px / var(--devicePixelRatio)) rgb(82, 82, 94) solid;
  border-radius: calc(8px / var(--devicePixelRatio));
  box-shadow: 0 calc(2px / var(--devicePixelRatio)) calc(14px / var(--devicePixelRatio)) 0 rgba(0, 0, 0, 0.2);
}

#filenameContainer {
  display: flex;
  align-items: center;
  height: calc(50px / var(--devicePixelRatio));
  margin-bottom: calc(10px / var(--devicePixelRatio));
  padding-inline: calc(8px / var(--devicePixelRatio));

  background-color: var(--filenameBackground);
  border-radius: calc(4px / var(--devicePixelRatio));
  overflow: hidden;
  cursor: text;

  &:focus-within {
    outline: calc(2px / var(--devicePixelRatio)) solid var(--filenameFocus);
  }

  &:not(:focus-within) #filenameBase::selection {
    background: transparent;
  }
}

#filenameBase {
  display: inline-flex;
  flex: 0 1 auto;
  overflow: hidden;

  color: var(--filenameFont);
  font-family: sans-serif;
  font-size: calc(14px / var(--devicePixelRatio));
  white-space: nowrap;
  outline: none;

  &.empty {
    &::after {
      content: attr(data-placeholder);
      display: inline-flex;
      font-family: inherit;
      color: inherit;
      opacity: 0.5;
      pointer-events: none;
    }

    & > br {
      display: none;
    }
  }
}

#filenameExt {
  flex: 0 0 auto;
  margin-right: auto;

  color: var(--filenameFont);
  font-family: sans-serif;
  font-size: calc(14px / var(--devicePixelRatio));
  white-space: pre;

  opacity: 0.5;
  user-select: none;
  pointer-events: none;
}

#formatToggle {
  display: flex;
  justify-content: center;
  flex: 0 0 auto;
  padding-block: calc(3px / var(--devicePixelRatio));
  padding-inline: calc(6px / var(--devicePixelRatio));

  color: white;
  font-size: calc(13px / var(--devicePixelRatio));
  font-weight: 700;
  text-transform: uppercase;

  background-color: rgba(60, 60, 60, 1);

  &:hover {
    background-color: rgba(90, 90, 90, 1);
  }

  &:focus-visible {
    outline: calc(2px / var(--devicePixelRatio)) solid var(--selectAll);
  }
}

#preview {
  width: 100%;
  height: 100%;

  background-color: unset;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &:is(:hover, :focus-within) {
    outline: calc(2px / var(--devicePixelRatio)) solid var(--selectAll);
  }

  &:focus {
    outline: calc(2px / var(--devicePixelRatio)) solid var(--selectAllHover);
  }
}

#selectAll {
  min-height: calc(32px / var(--devicePixelRatio));
  margin-top: calc(10px / var(--devicePixelRatio));

  font: menu;
  font-size: calc(14px / var(--devicePixelRatio));
  font-weight: 600;

  background-color: var(--selectAll);

  &:hover {
    background-color: var(--selectAllHover);
  }

  &:active {
    background-color: var(--selectAllActive);
  }

  &:focus-visible {
    outline: calc(2px / var(--devicePixelRatio)) solid var(--selectAll);
  }
}
