:root {
  --filenameFont: light-dark(#15141a, #fbfbfe);
  --filenameBackground: light-dark(#f0f0f4, #1c1b22);
  --filenameBorder: transparent;
  --filenameFocus: #3584e4;
  --popupBg: light-dark(#ffffff, #42414d);
  --popupBorder: light-dark(#cfcfd8, #52525e);
  --popupShadow: light-dark(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.2));
  --toggleText: light-dark(#15141a, #ffffff);
  --showAllFiles: light-dark(#0062f9, #00ddff);
  --showAllFilesText: light-dark(#ffffff, #1c1b22);
  --showAllFilesHover: light-dark(#0052cc, #80ebff);
  --showAllFilesActive: light-dark(#0042a9, #aaf2ff);
  --textPreviewFont: light-dark(#15141a, #fbfbfe);
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: transparent;
  text-rendering: optimizeLegibility;

  &:focus {
    outline: none;
  }
}

button {
  padding-block: 0;
  border: none;
  border-radius: calc(4px / var(--devicePixelRatio));
  outline-offset: calc(2px / var(--devicePixelRatio));
}

#popup {
  position: fixed;
  display: flex;
  flex-flow: column;
  width: calc(300px / var(--devicePixelRatio));
  height: calc(250px / var(--devicePixelRatio));
  padding: calc(8px / var(--devicePixelRatio));

  background-color: var(--popupBg);
  border: calc(1px / var(--devicePixelRatio)) var(--popupBorder) solid;
  border-radius: calc(8px / var(--devicePixelRatio));
  box-shadow: 0 calc(4px / var(--devicePixelRatio))
    calc(16px / var(--devicePixelRatio)) 0 var(--popupShadow);

  opacity: 0;

  color-scheme: light;

  &[prefersDark] {
    color-scheme: dark;
  }

  &[data-format="png"] {
    #ext::after {
      content: ".png";
    }

    #formatToggle span::after,
    #floatingFormatToggle span::after {
      content: "PNG";
    }
  }

  &[data-format="jpeg"] {
    #ext::after {
      content: ".jpg";
    }

    #formatToggle span::after,
    #floatingFormatToggle span::after {
      content: "JPG";
    }
  }
}

#preview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
  background-color: light-dark(rgba(0, 0, 0, 0.05), transparent);

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  #textPreview {
    width: 100%;
    height: 100%;
    padding: calc(8px / var(--devicePixelRatio));
    overflow: auto;
    font-family: sans-serif;
    font-size: calc(12px / var(--devicePixelRatio));
    color: var(--textPreviewFont);
    text-align: left;
    white-space: pre;
    word-break: normal;
    user-select: none;
    background-color: light-dark(transparent, #2b2a33);
  }

  &:is(:hover, :focus-within) {
    outline: calc(2px / var(--devicePixelRatio)) solid var(--showAllFiles);
  }

  &:focus {
    outline: calc(2px / var(--devicePixelRatio)) solid var(--showAllFilesHover);
  }
}

#filenameContainer {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  min-height: calc(24px / var(--devicePixelRatio));
  margin-bottom: calc(10px / var(--devicePixelRatio));
  padding-block: calc(6px / var(--devicePixelRatio));
  padding-inline: calc(8px / var(--devicePixelRatio));
  overflow: hidden;

  background-color: var(--filenameBackground);
  border: calc(1px / var(--devicePixelRatio)) solid var(--filenameBorder);
  border-radius: calc(4px / var(--devicePixelRatio));
  cursor: text;

  &[hidden] {
    display: none !important;
  }

  &:has(#filename:focus-within) {
    border-color: var(--filenameFocus);
    outline: calc(2px / var(--devicePixelRatio)) solid var(--filenameFocus);
    outline-offset: calc(-1px / var(--devicePixelRatio));
  }

  #filename {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    min-width: 0;
    overflow: hidden;

    #basename {
      display: inline-flex;
      flex: 0 1 auto;
      overflow: hidden;
      color: var(--filenameFont);
      font-family: sans-serif;
      font-size: calc(14px / var(--devicePixelRatio));
      white-space: nowrap;
      outline: none;

      &:not(:focus)::selection {
        background: transparent;
      }

      &.empty {
        &::after {
          content: attr(data-placeholder);
          display: inline-flex;
          color: inherit;
          font-family: inherit;
          opacity: 0.5;
          pointer-events: none;
          user-select: none;
        }

        & > br {
          display: none;
        }
      }
    }

    #ext {
      flex: 0 0 auto;
      color: var(--filenameFont);
      font-family: sans-serif;
      font-size: calc(14px / var(--devicePixelRatio));
      white-space: pre;
      opacity: 0.5;
      pointer-events: none;
      user-select: none;
    }
  }
}

#formatToggle,
#floatingFormatToggle {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  padding-block: calc(4px / var(--devicePixelRatio));
  padding-inline: calc(8px / var(--devicePixelRatio));

  color: var(--toggleText);
  font: menu;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0 0 calc(4px / var(--devicePixelRatio))
    light-dark(transparent, rgba(0, 0, 0, 0.5));

  span {
    pointer-events: none;
  }

  &[hidden] {
    display: none !important;
  }

  &:focus-visible {
    outline: calc(2px / var(--devicePixelRatio)) solid var(--showAllFiles);
    outline-offset: 0px;
  }
}

#formatToggle {
  margin-inline-start: calc(6px / var(--devicePixelRatio));
  font-size: calc(13px / var(--devicePixelRatio));
  line-height: calc(14px / var(--devicePixelRatio));
  border-radius: calc(4px / var(--devicePixelRatio));
  background-color: light-dark(rgba(21, 20, 26, 0.07), #3c3c3c);

  &:hover {
    background-color: light-dark(rgba(21, 20, 26, 0.14), #5a5a5a);
  }
}

#floatingFormatToggle {
  position: absolute;
  top: calc(12px / var(--devicePixelRatio));
  right: calc(12px / var(--devicePixelRatio));

  font-size: calc(15px / var(--devicePixelRatio));
  line-height: calc(20px / var(--devicePixelRatio));

  background-color: light-dark(#ffffff, #1c1b22);
  border: calc(1px / var(--devicePixelRatio)) solid
    light-dark(var(--popupBorder), #1c1b22);

  &::after {
    content: "";
    position: absolute;
    inset: calc(-6px / var(--devicePixelRatio));
  }

  &:hover {
    background-color: light-dark(#e6e6e6, #2b2a33);
    border-color: light-dark(var(--popupBorder), #2b2a33);
  }
}

#showAllFiles {
  min-height: calc(32px / var(--devicePixelRatio));
  margin-top: calc(10px / var(--devicePixelRatio));

  color: var(--showAllFilesText);
  font: menu;
  font-size: calc(14px / var(--devicePixelRatio));
  font-weight: 600;

  background-color: var(--showAllFiles);

  &:hover {
    background-color: var(--showAllFilesHover);
  }

  &:active {
    background-color: var(--showAllFilesActive);
  }

  &:focus-visible {
    outline: calc(2px / var(--devicePixelRatio)) solid var(--showAllFiles);
    outline-offset: calc(2px / var(--devicePixelRatio));
  }
}
