:root {
  --focus-ring: #0061e0;
  --focus-ring-dark: #00ddff;

  --popup-bg: light-dark(#ffffff, #42414d);
  --popup-border: light-dark(#cfcfd8, #52525e);
  --popup-shadow: light-dark(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.2));

  --preview-bg: light-dark(rgba(0, 0, 0, 0.05), transparent);
  --preview-text-bg: light-dark(transparent, #2b2a33);
  --preview-text-color: light-dark(#15141a, #fbfbfe);
  --preview-focus: light-dark(var(--focus-ring), var(--focus-ring-dark));

  --filename-bg: light-dark(#f0f0f4, #1c1b22);
  --filename-text: light-dark(#15141a, #fbfbfe);
  --filename-focus: var(--focus-ring);

  --toggle-text: light-dark(#15141a, #ffffff);
  --toggle-bg: light-dark(rgba(21, 20, 26, 0.07), #3c3c3c);
  --toggle-bg-hover: light-dark(rgba(21, 20, 26, 0.14), #5a5a5a);

  --floating-toggle-bg: light-dark(#ffffff, #1c1b22);
  --floating-toggle-border: light-dark(var(--popup-border), #1c1b22);
  --floating-toggle-bg-hover: light-dark(#e6e6e6, #2b2a33);
  --floating-toggle-border-hover: light-dark(var(--popup-border), #2b2a33);

  --button-text: light-dark(#ffffff, #1c1b22);
  --button-bg: light-dark(var(--focus-ring), var(--focus-ring-dark));
  --button-bg-hover: color-mix(in srgb, black 10%, var(--button-bg));
  --button-bg-active: color-mix(in srgb, black 20%, var(--button-bg));
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font: menu;
  background: transparent;
  text-rendering: optimizeLegibility;

  &:focus {
    outline: none;
  }
}

button {
  padding-block: 0;
  font: inherit;
  border: none;
  border-radius: calc(4px / var(--devicePixelRatio));
  outline-offset: calc(2px / var(--devicePixelRatio));
}

#popup {
  position: fixed;
  display: flex;
  flex-flow: column;
  width: calc(300px / var(--devicePixelRatio));
  height: calc(250px / var(--devicePixelRatio));
  padding: calc(8px / var(--devicePixelRatio));
  color-scheme: light;
  background-color: var(--popup-bg);
  border: calc(1px / var(--devicePixelRatio)) var(--popup-border) solid;
  border-radius: calc(8px / var(--devicePixelRatio));
  box-shadow: 0 calc(4px / var(--devicePixelRatio))
    calc(16px / var(--devicePixelRatio)) 0 var(--popup-shadow);
  opacity: 0;

  &[prefersDark] {
    color-scheme: dark;
  }

  &[data-format="png"] {
    #filename::after {
      content: ".png";
    }

    #formatToggle span::after,
    #floatingFormatToggle span::after {
      content: "PNG";
    }
  }

  &[data-format="jpeg"] {
    #filename::after {
      content: ".jpg";
    }

    #formatToggle span::after,
    #floatingFormatToggle span::after {
      content: "JPG";
    }
  }
}

#preview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
  background-color: var(--preview-bg);
  border-radius: calc(4px / var(--devicePixelRatio));

  #imagePreview {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  #textPreview {
    width: 100%;
    height: 100%;
    padding: calc(8px / var(--devicePixelRatio));
    overflow: auto;
    font-size: calc(12px / var(--devicePixelRatio));
    color: var(--preview-text-color);
    text-align: left;
    white-space: pre;
    word-break: normal;
    background-color: var(--preview-text-bg);
    user-select: none;
  }

  &:is(:hover, :focus-within) {
    outline: calc(2px / var(--devicePixelRatio)) solid var(--preview-focus);
  }

  &:focus {
    outline: calc(2px / var(--devicePixelRatio)) solid
      color-mix(in srgb, black 10%, var(--preview-focus));
  }
}

#filenameContainer {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  min-height: calc(40px / var(--devicePixelRatio));
  margin-bottom: calc(10px / var(--devicePixelRatio));
  overflow: hidden;
  cursor: text;
  background-color: var(--filename-bg);
  border: calc(1px / var(--devicePixelRatio)) solid transparent;
  border-radius: calc(4px / var(--devicePixelRatio));

  &[hidden] {
    display: none !important;
  }

  &:has(#filename:focus-within) {
    border-color: var(--filename-focus);
    outline: calc(2px / var(--devicePixelRatio)) solid var(--filename-focus);
    outline-offset: calc(-1px / var(--devicePixelRatio));
  }

  #filename {
    display: inline-block;
    flex: 1 1 auto;
    min-width: 0;
    padding-block: calc(9px / var(--devicePixelRatio));
    padding-inline: calc(8px / var(--devicePixelRatio));
    overflow: scroll;
    font-family: inherit;
    font-size: calc(14px / var(--devicePixelRatio));
    color: var(--filename-text);
    white-space: pre;
    outline: none;
    overscroll-behavior: none;
    scrollbar-width: none;

    &::after {
      color: inherit;
      opacity: 0.5;
      pointer-events: none;
    }

    &:not(:focus)::selection {
      background: transparent;
    }

    &.empty {
      &::before {
        content: attr(data-placeholder);
        color: inherit;
        font-family: inherit;
        opacity: 0.5;
        pointer-events: none;
      }

      & > br {
        display: none;
      }
    }
  }
}

#formatToggle,
#floatingFormatToggle {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  padding-block: calc(4px / var(--devicePixelRatio));
  padding-inline: calc(8px / var(--devicePixelRatio));
  font-family: inherit;
  font-weight: 600;
  color: var(--toggle-text);
  text-transform: uppercase;
  box-shadow: 0 0 calc(4px / var(--devicePixelRatio))
    light-dark(transparent, rgba(0, 0, 0, 0.5));

  span {
    pointer-events: none;
  }

  &[hidden] {
    display: none !important;
  }

  &:focus-visible {
    outline: calc(2px / var(--devicePixelRatio)) solid var(--button-bg);
    outline-offset: 0px;
  }
}

#formatToggle {
  min-width: calc(42px / var(--devicePixelRatio));
  min-height: calc(24px / var(--devicePixelRatio));
  margin-inline-start: calc(6px / var(--devicePixelRatio));
  margin-inline-end: calc(8px / var(--devicePixelRatio));
  font-size: calc(12px / var(--devicePixelRatio));
  background-color: var(--toggle-bg);
  border-radius: calc(4px / var(--devicePixelRatio));

  &:hover {
    background-color: var(--toggle-bg-hover);
  }
}

#floatingFormatToggle {
  position: absolute;
  top: calc(12px / var(--devicePixelRatio));
  right: calc(12px / var(--devicePixelRatio));
  min-width: calc(46px / var(--devicePixelRatio));
  font-size: calc(13px / var(--devicePixelRatio));
  background-color: var(--floating-toggle-bg);
  border: calc(1px / var(--devicePixelRatio)) solid
    var(--floating-toggle-border);
  border-radius: calc(4px / var(--devicePixelRatio));

  &::after {
    content: "";
    position: absolute;
    inset: calc(-6px / var(--devicePixelRatio));
  }

  &:hover {
    background-color: var(--floating-toggle-bg-hover);
    border-color: var(--floating-toggle-border-hover);
  }
}

#showAllFiles {
  min-height: calc(32px / var(--devicePixelRatio));
  margin-top: calc(10px / var(--devicePixelRatio));
  font-family: inherit;
  font-size: calc(15px / var(--devicePixelRatio));
  font-weight: 600;
  color: var(--button-text);
  background-color: var(--button-bg);

  &:hover {
    background-color: var(--button-bg-hover);
  }

  &:active {
    background-color: var(--button-bg-active);
  }

  &:focus-visible {
    outline: calc(2px / var(--devicePixelRatio)) solid var(--button-bg);
    outline-offset: calc(2px / var(--devicePixelRatio));
  }
}
