dialog {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  overflow: hidden;

  &::backdrop {
    background: transparent;
  }
}

iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  color-scheme: light dark;
}
