dialog {
  padding-block: 0;
  padding-inline: 0;
  margin-block: 0;
  margin-inline: 0;
  inline-size: 100%;
  block-size: 100%;
  max-inline-size: 100%;
  max-block-size: 100%;
  border: none;
  background: transparent;
  color-scheme: normal;
  overflow: hidden;

  &::backdrop {
    background: transparent;
  }
}

iframe {
  inline-size: 100%;
  block-size: 100%;
  border: none;
  display: block;
  color-scheme: light;
}
