:host {
  all: unset !important;
}

#root {
  all: unset;
  width: calc(250px / var(--devicePixelRatio));
  height: calc(200px / var(--devicePixelRatio));  
  padding: calc(8px / var(--devicePixelRatio));
  display: flex;
  flex-flow: column;
  border-radius: calc(8px / var(--devicePixelRatio));
  position: absolute;
  background-color: rgb(66, 65, 77);
  border: calc(1px / var(--devicePixelRatio)) rgb(82, 82, 94) solid;
  justify-content: space-between;
  box-sizing: border-box;
  z-index: 2147483647;
  border-radius: calc(8px / var(--devicePixelRatio));
  box-shadow: 0 calc(2px / var(--devicePixelRatio)) calc(14px / var(--devicePixelRatio)) 0 rgba(0, 0, 0, 0.2);
  animation: slideUp 150ms cubic-bezier(0, 0, 0, 1);
}

#selectAll {
  font: menu;
  font-weight: 600;
  font-size: calc(12px / var(--devicePixelRatio));
  margin-top: calc(10px / var(--devicePixelRatio));
  min-height: calc(32px / var(--devicePixelRatio));
  border-radius: calc(4px / var(--devicePixelRatio));
  outline-offset: calc(2px / var(--devicePixelRatio));
  color: rgb(21, 20, 26);
  border: none;
  box-sizing: border-box;
  background-color: rgb(0, 221, 255);
  text-rendering: optimizeLegibility;
}

#selectAll:hover {
  background-color: rgb(128, 235, 255);
}

#selectAll:active {
  background-color: rgb(170, 242, 255);
}

#selectAll:focus-visible {
  outline: calc(2px / var(--devicePixelRatio)) solid rgb(0, 221, 255);
}

#preview {
  width: 100%;
  height: 100%;
  border-radius: calc(4px / var(--devicePixelRatio));
  object-fit: contain;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  outline-offset: calc(2px / var(--devicePixelRatio));
  background-color: unset;
  background-position: center;
}

#preview:is(:hover, :focus-within) {
  outline: calc(2px / var(--devicePixelRatio)) solid rgb(0, 221, 255);
}

#preview:focus {
  outline: calc(2px / var(--devicePixelRatio)) solid rgb(128, 235, 255);
}

#filename {
  border: none;
  box-sizing: border-box;
  font-size: calc(14px / var(--devicePixelRatio));
  height: calc(50px / var(--devicePixelRatio));
  border-radius: calc(4px / var(--devicePixelRatio));
  margin-bottom: calc(10px / var(--devicePixelRatio));
  padding-inline: calc(5px / var(--devicePixelRatio));
  color: rgb(251, 251, 254);
  background-color: rgb(28, 27, 34);
}

#filename:focus {
  outline: calc(2px / var(--devicePixelRatio)) solid rgb(53, 132, 228);
}

@keyframes slideUp {
  from {
    opacity: 0;
    pointer-events: none;
    transform: translateY(calc(-20px / var(--devicePixelRatio)));
  }
}
